body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  padding: 2rem;
}

#search {
  width: 100%;
  border: 1 solid black;
  border-radius: 5px;
  height: 20px;
  padding: 10px;
}

.hidden {
  display: none;
}

.selected {
  font-weight: bold;
  color: red;
}

button {
  border-radius: 5px;
  padding: 5px;
  background: #cce;
}

#app {
  display: flex;
  min-height: 100vh;
}

#sidebar {
  flex-shrink: 0;
  min-width: 100px;
  padding: 1rem;
}

main {
  flex: 1;
  padding: 2rem;
  max-width: 80rem;
}
